.home-hero {
    position: relative;
    padding: 62px 0 250px;
    margin: 0;

    .left-disk {
        position: absolute;
        width: 200px;
        left: -100px;
        top: 0px;
    }

    .bottom-disk {
        position: absolute;
        height: 100px;
        width: 358px;
        bottom: 0px;
        right: 0;
    }

    background-color: $p-clr1;
    color: $p-clr3;
}



.home-hero-container {
    position: relative;
    display: flex;
    align-items: flex-end;
    gap: 230px;

    .hero-title {
        min-width: 600px;

        span {
            color: $p-clr2;
        }
    }

    .hero-txt {
        margin: 0 0 6px;
    }


}